django==3.2.10
django-redis==5.2.0
#git+git://github.com/django/django@main#egg=main
black==21.11b1
django-ninja==0.16.1
pytest==6.2.5
django-vite==1.2.1
django-health-check==3.16.4
uvicorn[standard]==0.15.0
whitenoise==5.3.0
django-environ==0.8.1
psycopg2==2.9.2 # using docker
channels==3.0.4
channels_redis==3.3.1