{% load static %}
<section class="pb-20">
  <div class="container px-4 mx-auto pt-12">
    <div class="flex flex-wrap items-center -mx-4">
      <div class="w-full md:w-1/2 px-4 mb-6 md:mb-0">
        <span class="font-semibold text-xs text-blue-400">TailwindCSS & DaisyUI (Optional)</span>
        <h2 class="mt-8 mb-6 lg:mb-12 text-4xl lg:text-5xl font-semibold">Django, Vitejs + React Starter</h2>
        <div class="max-w-lg mb-6 lg:mb-12">
          <p class="text-xl text-gray-500">Simple Starter</p>
        </div>
        <div class="flex flex-wrap">
            <a class="btn btn-primary" href="/vite">Demo</a>
            <a class="btn btn-secondary btn-outline ml-2" href="#">Learn More</a></div>
      </div>
      <div class="relative w-full md:w-1/2 px-4">
        <img class="hidden lg:block top-0 right-0 z-10 lg:mt-28" src="{% static 'images/landing.svg' %}" alt="">
      </div>
    </div>
  </div>
</section>